/*轮播图部分*/
.banner{
    height: 460px;
    background: #31333e;
}
.banner span{
    cursor: pointer;
}
.carousel img{
    display: none;
}

.carousel img.selected{
    display: block;
}

#left-btn{
    width: 29px;
    height: 50px;
    position: absolute;
    top:205px;
    left: 0;
    background: url(../images/sprite.png) -26px 0 no-repeat;

}
#right-btn{
    width: 29px;
    height: 50px;
    position: absolute;
    top:205px;
    right: 0;
    background: url(../images/sprite.png) -87px 0 no-repeat;

}
/*边框栏*/

.border-bar{
    height: 492px;

    /*background: #00ff00;*/
}


#bar-box li{
    display: block;
    width: 310px;
    height: 492px;
    margin-right: 36px;
    float: left;
    /*text-align: center;*/

}

#bar-box li:last-child{
    margin-right: 0;
}
#bar-box  a{
    width: 102px;
    height: 102px;
    display: block;
    margin-left: 103px;
    margin-top:30px;
    margin-bottom: 30px;


}
#l1{
    background: url(../images/sprite.png) -411px -347px no-repeat;
}
#l2{
    background: url(../images/sprite.png) -759px -347px no-repeat;
}
#l3{
    background: url(../images/sprite.png) -1104px -347px no-repeat;
}

.p-text{
    display: block;
    margin-top: 86px;
    margin-left: 67px;
    color: #626262;
    font-size: 30px;
    /*float: left;*/
}
/*#box-l2 head{*/
    /*/!*display: block;*!/*/
    /*margin-top: 86px;*/
    /*margin-left: 95px;*/
    /*color: #626262;*/
    /*font-size: 30px;*/
/*}*/
/*#box-l3 head{*/
    /*display: block;*/
    /*margin-top: 86px;*/
    /*margin-left: 95px;*/
    /*color: #626262;*/
    /*font-size: 30px;*/
/*}*/



.text p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 12px;
}

.last-text{
    margin-top: 28px;
    color: #42baff;
}

/*八张图片*/
.bottom-bar{
    height: 500px;
    background: #e2e7ed;
}

.bottom-bar p{
    font-size:20px;
    color: #b6b6b6;
    margin-top: 29px;
    margin-bottom: 18px;
    /*font-weight: 300;*/
}
/*.picture-box{*/

/*}*/

.bottom-bar img{
    float: left;
}